*, ::before,::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #008000 ;
}

main {
    display: flex;
    justify-content: center;
}

.guesscontainter {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100vh;
    padding: 1rem;
}


button {
    margin: 1rem 0;
    padding: 0.5rem 5rem 0.5rem 5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.guesscontainter .hidden {
    display: none;
    padding: 1rem;
    border: 1px solid #008000;
    /* margin: 0 auto 1rem auto; */
    margin-top: 0;
    margin-bottom: 1rem; 
}

input {
    display: block;
    padding: 7px;
}

#restart {
    display: none;
}
